@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #22254b;
    margin: 0;
    
}

#movieContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

header{
    background-color: #373b69;
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;
}

header input{
    background-color: transparent;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    color: #fff;
    border: 2px solid #22254b;
}

header input::placeholder{
    color: #7378c5;
}

.search{
    background-color: transparent;
    /* border: 2px solid #22254b; */
    border-radius: 50px;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search:focus{
    outline: none;
    background-color: #22254b;
}


.movie{
    width: 300px;
    background-color: #373b69;
    margin: 1.3rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 1280px) {
   .movie{
    width: 200px;
    /* height: 270px; */
   }
  }

@media screen and (max-width: 1080px) {
   .movie{
    width: 170px;
    /* height: 270px; */
   }

   .movie img {
    height: 170px;
    object-fit: cover;
}
  }

.movie:hover{
    transition: all 0.3s ease;
    scale: 20px;
    transform: scale(103%);
    box-shadow: 10px 10px 20px black ;
}

.movie img {
    width: 100%;
}


.movie-info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 1rem 0.7rem;
    letter-spacing: 1px;
}

.movie-info h3{
    margin: 0;
}

.movie-info span{
    background-color: #22254b;
    border-radius: 6px;
    font-weight: 00;
    padding: 0.25rem 0.5rem;
}

.movie-info span.green{
    color: rgb(39, 189, 39);
}

.movie-info span.orange{
    color: orange;
}

.movie-info span.red{
    color: rgb(189, 42, 42);
}

.overview{
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: -1px;
    max-height: 100%;
    overflow: auto;
    background-color: #fff;
    padding: 2.5rem;
    transform: translateY(100%);
    transition: all 0.3s ease-in;

}

.overview h4{
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 1rem;

}


.movie:hover .overview{
    transform: translateY(0%);
}



